body {
   background-color: rgb(255, 255, 255);
   padding: 0%;
   margin: 0%;
   transition: transform 0.2s ease; 
   transition: color 0.2s ease; 
   position: relative;
   display: inline-block;
   cursor:default;
}
.Landtop{
    position: relative;
    display: flex;
    flex-direction: column;
}
.Landtop.blur {
    filter: blur(20px);
  }
  

/* Add other styles for the Land component */

.desktopnav{
       background-color: white;
       box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.07);
       align-items: center;
       position: fixed;
       gap:1rem;
       height:70px;
       padding-right: 60px;
       display:flex;
       flex-direction: row;
       padding-top: -10px;
       z-index: 2;
       width: 100%;
       
}
.desktopnav .scrolled{
    box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
}
.logo{
    padding-left: 90px;
    padding-right: 290px;
    font-size: 35px;
    font-weight: 800;
    color: rgb(44, 114, 211);
}
.logo1{
color: rgb(44, 114, 211);
 font-Weight: 'bold';
 
}
.nav-links{
    padding-left: 120px;
    gap: 2rem;
    list-style: none;
    display: flex;  
    justify-content:center;
    align-items: center;
    margin-right:40px;
    flex-direction: row;

    list-style: none;
}
.nav-links li , a{
    font-size: 20px;
    color: rgb(52, 49, 49);
    text-decoration: none;
    text-decoration-color: rgb(7, 7, 7);
    text-underline-offset:none; 
    cursor:pointer;
    gap: 2rem;
    font-weight: 600;
}

.nav-links li :hover, a:hover{
    text-decoration: underline;
    color: rgb(8, 83, 187);
    transition: transform 0.5s ease; 
    transition: color 0.5s ease; 
    text-underline-offset: 0.8rem;
}
.navbt 
{
   width: 120px;
   height: 43px;
   border-radius: 10px;
   border: none;
   outline: none;
   color:white;
   background-color: rgb(233, 98, 30);
   font-size: 17px;
   font-weight: 700;
   cursor: pointer;
}
.navbt1:hover{
    background-color: rgb(8, 83, 187);
    box-shadow: 1px 1px 12px 5px rgba(255, 232, 232, 0.2);
}
.navbt1{
    background-color: rgb(44, 114, 211);
}

.navbt:hover{
    background-color: rgb(176, 60, 2);
    box-shadow: 1px 1px 12px 5px rgba(255, 232, 232, 0.2);
}
.hire{
    width: 140px;
    height: 43px;
    border-radius: 10px;
    border: 0.5px solid rgb(173, 170, 170);
    outline: none;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.hire:hover{
    box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
    border: none;
    
}
.apply1:hover{
    background-color: rgb(7, 50, 99);
}
.hire1:hover{
    background-color: rgb(177, 66, 11);
   
}
button{
    width: 120px;
    height: 43px;
    border-radius: 10px;
    border: none;
    outline: none;
    color:white;
    padding-right: 20px;
    background-color: rgb(44, 114, 211);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.Home{
    display: flex;
    flex-direction: row;
   
}

.pic{
    padding-top: 50px;
    padding-left: 105px;
    padding-right: 30px;
    border-radius:70px;
     width:900px;
}
.Hometext {
    margin-top: 100px;
    padding-left: 60px;
    
}
.Hometext h1{
    font-size: 60px;
}
.Hometext p{
    margin-top: -20px;
    font-size: 24px;
    font-weight: 80px;
}
.Home button  {
    margin-left: 40px;
}
.apply1{
    padding: 12px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(44, 114, 211);
}
.hire1{
    padding: 12px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(232, 100, 34);
}
/*Steps*/
.steps{
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:40px;
    padding-bottom:40px;
    gap:5rem;
    justify-content:space-between;
    background-color: rgb(44, 114, 211);
    
}
.steps div{
    padding: 30px;
    gap:2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.steps div:hover{
    padding: 30px;
    box-shadow: 10px 10px 40px;
    gap:2rem;
    align-items: center;
    border: none;
    display: flex;
    cursor:pointer;
    transition: transform 0.2s ease; 
    transition: color 0.2s ease; 
    justify-content: center;
    border-radius: 20px;
}

.steps div p{
 font-size: 25px;
 font-weight: 600; 
}
.stepicon{
    height: 60px;
    width:100px;
}
.jobcat{
   display: flex;
   padding-top: 70px;
   background-color:white;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.jobcat1{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom:40px;
   
}
.joblogo{
    font-size: 50px;
    color: rgb(44, 114, 211);
}
.jobc{
    background-color: white;
    display: flex;
    flex-direction: column;
    border:1px solid rgb(255, 255, 255);
    padding:60px;
    border-radius: 8px;
   box-shadow: 1px 10px 15px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 90px;
}
.jobc1 {
    background-color: white;
     display: flex;
     flex-direction: row;
     gap :2rem;
     padding-bottom: 30px;
}
.jobc2{
    display: flex;
    gap :2rem;
    flex-direction: row;
}
.jobc1 div, .jobc2 div {
    border: 0.01rem solid rgb(201, 201, 201);
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    transition: 
        /* Transition for border */
        box-shadow 0.3s ease, /* Transition for box-shadow */
        transform 0.2s ease; /* Transition for transform */
}
.jobc1 div h2 , .jobc2 div h2{
    color:black ;
    font-weight: 400;
    font-size: 24px;
   
}
.jobc1 div:hover, .jobc2 div:hover{
   
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;  
    border:none;
    transition: transform 7s ease; 
   
}
.jobc1 div h2, .jobc2 div h2{
   color: black;
   font-size: 18px;
}
.nav-links .link:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
  }
.jobsicon{
    background-color: rgb(44, 114, 211);
    padding: 10px;
    border-radius: 20px;
}

/*About*/
.Abouttop
{
    background-color: rgb(44, 114, 211);
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-bottom: 100px;
}
.Abouttop h1{
    color: white;
}
.Abouttop .line{
        height: 1px;
       background-color: white;
}
.Abouttop p{
    color: white;
    font-size: 16px;
}
.About{
    width:100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
.Aimage{
    background-color: rgb(255, 255, 255);
    width: 50%;
}
.Aright{
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding-left: 60px;
    padding-top: 40px;
    margin-left: 40px;
}
.Aright div{
    display: flex;
}
.Aright .ico{
    margin-top: 30px;
}
.ico p{
    padding-left: 5px;
}
/*Contact*/
.Contacth
{
    background-color: rgb(44, 114, 211);
    padding: 20px;
    margin-top: px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    width:100%;
}
.Contacth h1{
    color: white;
}
.Contacth .line{
        height: 1px;
       background-color: white;
}
.Contacth p{
    color: white;
    font-size: 16px;
}

.contact{
    height: 500px;
    width: 100%;
    padding-left:160px;
    padding-top: 110px;
    padding-bottom: 140px;
    background-color: rgb(255, 255, 255);
}
.contactf{
    display: flex;
    height: 500px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3); 
}
.contactl{
    width:60%;
    background-color: rgb(255, 255, 255);
    height: 90%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
.Ns, .Ep, .Ms {
    display: flex;
    justify-content: space-around;
    max-width: 100%; /* Ensure the elements do not exceed the page width */
    margin: 0 auto; /* Center the content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.Ns, .Ep {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 18px;
}

.Ns .l1, .Ep .l1 {
    width: 270px;
    height: 30px;
}

.Ms {
    flex-direction: column;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 85px;
    gap: 1.5rem;
}

.msg {
    display: flex;
    width: 610px;
    height: 160px;
    text-align: left; 
    justify-content: center;
    box-sizing: border-box; 
    margin-bottom: 15px;
}

.Ms button {
    width: 250px;
    height: 50px;
    border-radius: 4px;
}

.contactr {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(144, 144, 144);
}

.contactr .det {
    padding-left: 40px;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
}

.det div span{
  margin-right: 10px;     
}

.det .p1{
    padding-bottom: 15px;
}
.det p{
    padding-bottom: 10px;
}
body {
    overflow-x: hidden;
}
.contacticon{
    margin-left: 40px;
    margin-top: 40px;
    padding: 0px;
}
.Conicon #ic{
    padding-right: 20px;
}

.Conicon #ic:hover{
    padding-right: 20px;
    cursor: pointer;
}

/*Footer Section*/

.Footer{
    display: flex;
    width:100%;
    height:330px;
    border-top: 1px solid rgb(166, 164, 164);
    border-bottom: 1px solid rgb(166, 164, 164);
    padding-bottom: 100px;
   
}
.Footer #ic{
    margin-left:30px;
}
.foot1{
     width:30%;
     margin-top: 30px;
     background-color: rgb(255, 255, 255);
}
.foot1 h1{
padding-left: 140px;
}
.foot1 p{
    justify-content: center;
    text-align: center;
}
.det1 .ff p{
  text-align: left;
  padding-left:100px;
}
.foot1 .det1 #ic {
     padding-right: 15px;
}
.footic{
    display: flex;
    margin-top: 39px;
    margin-left: 70px;
}
.footic  #ic1{
    margin-left: 32px;
   gap: -1px;
}
.foot2{
    width:20%;
    height:100%;
    padding: 30px;
    padding-top: 43px;
    background-color: rgb(255, 255, 255);
}

.foot2 div{
    padding-left: 60px;
}
.foot2 p{
    font-size: 24px;
}
ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
}

li {
    padding: 8px 0; /* Add some space between the list items */
    font-size: 16px; /* Adjust font size */
}


.foot3{
    width:20%;
    height:100%;
    padding: 30px;
    padding-top: 43px;
    background-color: rgb(255, 255, 255);
}

.foot3 div{
    padding-left: 50px;
}
.foot3 p{
    font-size: 24px;
}
.foot4
{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
    background-color: rgb(255, 255, 255);
}
.foot4 .p1{
    font-size: 24px;
}
.foot4 button{
    width :275px;
   
    border-radius: 3px;
}
.foot4 input{
    margin-top: 20px;
    margin-bottom: 30px;
    width:250px;
}
.footerbottom{
    height: 30px;
    width: 100%;
    background-color: rgb(44, 114, 211);
}
.altnav{
    background-color: white;
    box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.07);
    align-items: center;
    position: fixed;
    gap:1rem;
    height:70px;
    padding-right: 60px;
    display:flex;
    flex-direction: row;
    padding-top: -10px;
    z-index: 2;
    width: 100%;
    padding-bottom: 10px;
}

.alt-links{
    list-style: none;
    display: flex;  
    justify-content:center;
    align-items: center;
    gap: 2rem;
    margin-left: 88.5px;
}
.altnav button:hover{
    background-color: rgb(30, 110, 195);
   
}
.user-info {
    display: flex;
    align-items: center;
    color: rgb(191, 10, 12);
  }
  
  .user-info span {
    margin-left: 8px;
  }